<html xmlns:th="https://thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>TZC</title>
  <link rel="stylesheet" href="styles.css">
  <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Noto Sans KR', sans-serif;
    }

    body {
      background: #71DFE7;
    }
  </style>
</head>

<body>
  <table>
    <tr>
      <td>
        <h4> Search: </h4>
      </td>
      <td>
        <h4 th:text="${search.search}"></h4>
      </td>
    </tr>
  </table>
</body>

</html>